/* --------- GLOBAL --------- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

button {
  font-size: 16px;
  width: 100px;
  height: 50px;
  background: rgb(1, 90, 224);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}

/* --------- HEADER --------- */
header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  color: rgb(27, 27, 27);
}

header ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

header li {
  margin-right: 25px;
}

header h2 {
  color: blue;
  margin: 0;
  font-size: 25px;
}

/* --------- SHOWCASE --------- */
.showcase {
  background: rgb(1, 90, 224);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  width: 100%;
  box-sizing: border-box;
}

.showcase img {
  width: 500px;
  height: 300px;
}

.showCaseText {
  width: 370px;
  margin: 200px 0 250px;
  color: white;
  font-size: larger;
}

.showcase p {
  color: rgb(159, 167, 197);
}

.showcase button {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: large;
  width: 200px;
  height: 50px;
}

/* --------- CARDS --------- */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 475px));
  padding: 10px 10px 150px;
  justify-content: center;
}

.card {
  background: whitesmoke;
  width: 450px;
  height: 250px;
  margin: 0 0 25px 25px;
  border-radius: 15px;
  text-align: center;
}

.card:hover {
  border-top: 3px solid darkblue;
  height: 245px;
}

.icon {
  margin-top: 25px;
}

/* --------- HEADINGS --------- */
.heading-text {
  font-size: 52px;
  margin-left: 240px;
  padding-top: 80px;
}

/* --------- SYSTEMS --------- */
.systems h1 {
  margin-left: 100px;
}

.os-s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 500px));
  justify-content: center;
}

.os {
  display: flex;
  border: 1px solid grey;
  border-radius: 15px;
  width: 450px;
  margin-bottom: 50px;
}

.os:hover {
  background: lightblue;
  border-color: darkblue;
}

.icon-os {
  width: 40px;
  margin: 30px 50px 0 10px;
}

/* --------- SELECTORS --------- */
.selectors {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.country-cpu {
  display: flex;
}

.selector {
  width: 200px;
  margin-left: 15px;
}

.selector label {
  color: blue;
}

.selector select {
  width: 200px;
  height: 50px;
}

/* --------- SERVER BLOCKS --------- */
.services, .choose {
  background: whitesmoke;
}

.servers {
  margin-top: 75px;
  padding-bottom: 250px;
}

.server {
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 75%;
  border-radius: 15px;
  margin: 0 auto 15px;
}

.server h1,
.server h2,
.server button {
  margin-top: 50px;
}

.server-icon {
  margin-top: 20px;
}

.chara {
  margin: 25px;
}

/* --------- QUESTIONS --------- */
.question {
  cursor: pointer;
  user-select: none;
  background: whitesmoke;
  width: 80%;
  margin: 0 auto 25px;
  padding: 5px;
  border-radius: 15px;
}

.questions {
  margin-bottom: 170px;
}

/* --------- FOOTER --------- */
.footer {
  padding-top: 50px;
  background: rgb(1, 90, 224);
  color: white;
  width: 100%;
  margin: 0;
}

.footer h3 {
  margin-left: 40px;
}

.footer li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
}

.columns {
  display: flex;
  justify-content: space-evenly;
}

#copyright {
  padding-top: 100px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

/* --------- MEDIA QUERIES --------- */
/* 1200px */
@media (max-width: 1200px) {
  .heading-text {
    font-size: 42px;
    margin-left: 120px;
  }
  .showcase {
    height: 600px;
  }
  .showcase img {
    width: 400px;
    height: 240px;
  }
  .showCaseText {
    width: 320px;
    margin-bottom: 200px;
  }
  .server {
    width: 90%;
    flex-wrap: wrap;
    padding: 20px;
  }
}

/* 992px */
@media (max-width: 992px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  header ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    padding: 0;
  }

  header li {
    margin: 0 15px 10px 0;
  }

  .showcase {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .showCaseText {
    width: 90%;
    margin: 0 0 40px;
    text-align: center;
  }

  .cards, .os-s {
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    padding: 10px 20px;
  }

  .card, .os {
    width: 100%;
    margin: 15px auto;
  }

  .selectors {
    flex-direction: column;
    align-items: center;
  }

  .server {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 30px 20px;
  }

  .server h1, .server h2, .server button {
    margin-top: 20px;
  }

  .columns {
    flex-wrap: wrap;
  }

  .column {
    width: 45%;
    margin-bottom: 30px;
  }
}

/* 768px */
@media (max-width: 768px) {

  header h2 { font-size: 22px; }
  header li { font-size: 14px; }

  button {
    font-size: 14px;
    width: 90px;
    height: 45px;
  }

  .heading-text {
    font-size: 28px;
    margin-left: 10px;
    padding-top: 40px;
  }

  .cards, .os-s {
    grid-template-columns: 1fr;
  }

  .card, .os {
    width: 90%;
  }

  .question {
    width: 90%;
    padding: 15px;
  }

  .selector select {
    width: 180px;
    height: 45px;
  }
}

/* 480px */
@media (max-width: 480px) {
  header ul {
    flex-direction: column;
    align-items: center;
  }

  .heading-text {
    font-size: 22px;
    margin-left: 5px;
  }

  .showcase button {
    width: 100%;
  }

  .card, .server, .os {
    width: 95%;
  }

  .selector {
    width: 90%;
  }

  .selector select {
    width: 100%;
  }

  .columns {
    flex-direction: column;
  }

  .footer {
    padding: 30px 10px;
  }

  .footer h3 {
    font-size: 16px;
  }

  #copyright {
    padding-top: 50px;
    font-size: 12px;
  }
}
